*{
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
    text-align: center;
}

.div{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 56vmin;
    width: 56vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vim;
}

.Square{
    margin: 2px;
    height: 27vmin;
    width: 27vmin;
    border: none;
}

#redSq{
    border-radius: 100% 0% 0% 0% ;
    background-color: red;
}

#greenSq{
    border-radius: 0% 100% 0% 0% ;
        background-color: green;
}

#blueSq{
    border-radius: 0% 0% 0% 100% ;
        background-color: blue;
}

#yellowSq{
    border-radius: 0% 0% 100% 0% ;
        background-color: yellow;
}

