.container{
    align-items: center;
    display: flex;
    align-self: center;
    justify-content: center;
}

.Square{
    height: 160px;
    width: 160px;
    border: 1px solid black;
    margin: 0.5px 0.5px;
    
}

#redSq{
    border-radius: 100% 0% 0% 0% ;
    background-color: red;
}

#greenSq{
    border-radius: 0% 100% 0% 0% ;
        background-color: green;
}

#blueSq{
    border-radius: 0% 0% 0% 100% ;
        background-color: blue;
}

#yellowSq{
    border-radius: 0% 0% 1000% 0% ;
        background-color: yellow;
}

